<h2>Edit Task</h2>

<% if @errors && @errors.any? %>
	<% @errors.full_messages.each do |msg| %>
		<ul>
			<li><%= msg %></li>
		</ul>
	<% end %>
<% end %>

<form action="/projects/<%= @project.id %>/tasks/<%= @task.id %>" method="POST">
	<input type="hidden" id="hidden" name="_method" value="patch">
	<label for="task_name">Task</label>
	<input type="text" name="task_name" value="<%= @task.name %>">

	<label for="time_allocation">Time Allocation</label>
	<input type="text" name="time_allocation" value="<%= @task.time_allocation %>">

	<input type="submit" name="Edit Task">
</form>

<form action="/projects/<%= @project.id %>" method="GET">
	<input type="submit" value="Cancel">
</form>