<h2>Edit Project</h2>

<form action="/projects/<%= @project.id %>" method="post">
	<input type="hidden" id="hidden" name="_method" value="patch">

	<label for="name">Project Name:</label>
	<input type="text" name="name" value="<%= @project.name %>">

	<br>

	<h2>Status</h2>
	<input type="radio" name="status" value="active" <%= 'checked' if @project.active_status == true %>>Active</input>

	<input type="radio" name="status" value="inactive" <%= 'checked' if @project.active_status == false %>>Inactive</input>

	<input type="submit" value="Edit Project">
</form>

<form action="/projects/<%= @project.id %>/delete" method="POST">
	<input type="hidden" id="hidden" name="_method" value="delete">

	<input type="submit" value="Delete Project">
</form>

<form action="/projects" method="GET">
	<input type="submit" value="Cancel">
</form>

