
<% if @no_project_error %>
	<p><%= @no_project_error %></p>
<% end %>

<form action="/projects/new" method="GET">	
	<input type="submit" value="Add Project">
</form>

<h3>Active Projects</h3>

<ul>
	<% @active_projects.each do |project| %>
      <li>
      	<a href="/projects/<%= project.id %>"><%= project.name %></a>
				<%= project_edit_button project.id %>
				<%= project_delete_button project.id %>
      </li>
	<% end %>
</ul>

<h3>Inactive Projects</h3>

<ul>
	<% @inactive_projects.each do |project| %>
      <li>
      	<a href="/projects/<%= project.id %>"><%= project.name %></a>
      	<%= project_edit_button project.id %>
				<%= project_delete_button project.id %>
      </li>
	<% end %>
</ul>

<form action="/logout" method="post">
	<input type="submit" value="logout">
</form>