<h2>Project: <%= @project.name %></h2>

	<p>Status:
		<% if @project.active_status %>
			Active
		<% else %>
			Inactive
		<% end %>
	</p>

	<p>Tasks:</p>

	<ul>
		<% @project.tasks.each do |task| %>
			<li>
				<%= task.name %> - <%= task.time_allocation %>
				<%= task_edit_button @project.id, task.id %>
				<%= task_delete_button @project.id, task.id %>
			</li>
		<% end %>
	</ul>

	<!-- <a href="/projects/<%= @project.id %>/tasks/new">Add Task</a> -->

	<form action="/projects/<%= @project.id %>/tasks/new" method="GET">
		<input type="submit" value="Add Task">
	</form>

	<form action="/projects/<%= @project.id %>/edit" method="GET">
		<input type="submit" value="Edit Project">		
	</form>

	<form action="/projects/<%= @project.id %>/delete" method="POST">
		<input type="hidden" id="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Project">
	</form>
	<!-- <label for="status">Status</label>
	<input type="radio" name="active">

	<label for="inactive">Inactive</label>
	<input type="radio" name="inactive">

	<input type="submit" value="Create Project"> -->