<h2>Project: <%= @project.name %></h2>

	<p>Status:
		<% if @project.active_status %>
			Active
		<% else %>
			Inactive
		<% end %>
	</p>

	<p>Tasks:</p>

	<ul>
		<% @project.tasks.each do |task| %>
			<li><a href="/tasks/<%= task.id %>"><%= task.name %></a></li>
		<% end %>
	</ul>

	<a href="/projects/<%= @project.id %>/tasks/new">Add Task</a>

<!-- 	<form action="/tasks/new" method="POST">
		<input type="hidden" name="project_id" value="<%= @project.id %>">
		<input type="submit" value="Add Task">
	</form> -->

	<form action="/projects/<%= @project.id %>/edit" method="GET">
		<input type="submit" value="Edit">		
	</form>

	<form action="/projects/<%= @project.id %>/delete" method="POST">
		<input type="hidden" id="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
	<!-- <label for="status">Status</label>
	<input type="radio" name="active">

	<label for="inactive">Inactive</label>
	<input type="radio" name="inactive">

	<input type="submit" value="Create Project"> -->